*{margin:0}
body{background:#222}
.App {
  text-align: center;

}
.title{
  font-size: 2rem;
  text-shadow: #000 2px 1px;
}
.header{
  background:#222;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ddd;
  overflow:hidden;
  box-shadow: 0 0 100px ;
}


button{
  background:steelblue;
}

.about{padding: 2rem}
.webpages img{
  max-width: 100vw;
}